
div.hero-unit {
  margin-top: 30px;
}

div.hero-unit h1 {
  margin-top: 0;
  margin-bottom: 12px;
}

div.hero-unit p {
  font-height: 18px;
  line-height: 27px;
}

body h1 {
  margin-top: 40px;
}

body h2 {
  margin-top: 30px;
}

div.row-fluid #demo-titles {
  float: right;
}

dl dd {
  margin: 0 0 12px 36px;
}

p.example-link {
  margin: 0 0 0 0;
  float: right;
  font-size: 90%;
  line-height: 1;
}

#sample1 {
  position: relative;
  padding: 30px;
}

#try-drag {
  position: absolute;
  left: 295px;
  top: 5px;
  width: 256px;
  height: 74px;
  background-image: url(../img/try-dragging.png)
}

#star {
  position: absolute;
  left: 295px;
  top: 10px;
  width: 60px;
  height: 60px;
  background-image: url(../img/star.png)
}

